html, body {
    height: 100%;
}

.wrapper {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .wrapper {
        width: 80%;
        height: 80%;
    }
}